.button3{
    text-align: right;
    margin-top: 50px;
    margin-left: 700px;
    position:fixed;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    height: 50px;
    width: 100px;
    color: red;
    background:lightblue;
}

.navlink1{
    position: relative;
    right:15px;
    color: black;
}
