.form5{
    margin-left: 100px;
}
.navlink{
    color:black;
    position:fixed;
}

.tablebodyrow:nth-child(odd)
{
    background-color: lightcyan;
}
.tablebodyrow:nth-child(even)
{
    background-color: lightblue;
}
